In [1]:
import re
import pandas as pd

In [36]:
data = pd.read_csv("unprocessed tweet.csv", encoding='latin-1')
first_column_pre_process = data.iloc[:, 0]

first_column_pre_process

0      41. Kadang aku berfikir, kenapa aku tetap perc...
1      USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
2      USER USER Kaum cebong kapir udah keliatan dong...
3      USER Ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...
4      deklarasi pilkada 2018 aman dan anti hoax warg...
                             ...
292    RT USER USER USER USER USER USER USER Haha kal...
293    #GubernurZamanNow #GusIpulPuti2 #GanjarYasin1 ...
294    RT USER: USER Yg cinta orba pasti meng idola k...
295    Nantang buka Dadalah, eh nyebut Setanlah emang...
296    USER USER USER USER "BELAH" duren yaaaa.\nGak ...
Name: Tweet, Length: 297, dtype: object

In [39]:
def lowercase(text):
    new_text = text.lower()
    return new_text

processed_tweet = []
for text in first_column_pre_process:
    processed_tweet.append(lowercase(text))

    
processed_tweet = pd.DataFrame(processed_tweet, columns = ['Processed Text'])   

processed_tweet

                                        Processed Text
0    41. kadang aku berfikir, kenapa aku tetap perc...
1    user user aku itu aku\n\nku tau matamu sipit t...
2    user user kaum cebong kapir udah keliatan dong...
3    user ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...
4    deklarasi pilkada 2018 aman dan anti hoax warg...
..                                                 ...
292  rt user user user user user user user haha kal...
293  #gubernurzamannow #gusipulputi2 #ganjaryasin1 ...
294  rt user: user yg cinta orba pasti meng idola k...
295  nantang buka dadalah, eh nyebut setanlah emang...
296  user user user user "belah" duren yaaaa.\ngak ...

[297 rows x 1 columns]

In [40]:


def remove_unnecessary_char(text):
    text = re.sub('\n',' ', text)
    text = re.sub('rt',' ', text)

processed_tweet = []
for text in first_column_pre_process:
    processed_tweet.append(remove_unnecessary_char(text))

    
processed_tweet = pd.DataFrame(processed_tweet, columns = ['Processed Text'])   

processed_tweet

    Processed Text
0             None
1             None
2             None
3             None
4             None
..             ...
292           None
293           None
294           None
295           None
296           None

[297 rows x 1 columns]

In [48]:
def remove_unnecessary_char(text):
    text = re.sub('\n','', text)
    text = re.sub('rt','', text)
    text = re.sub('USER','', text)
    text = re.sub('((www\.[^\s]+)|(https?://[^\s]+)|(http?://[^\s]+))','',text)
    text = re.sub('  +',' ', text)
    text = re.sub('''\\...''','', text)
    return text

print(remove_unnecessary_char(mytext))

- Disaat SEMUA Cowok berusaha Ya bani taplak dkk ðð\ perhatian gueoe lantas remehkan perhatian yg gue kasih khusus ke eloasic elo cowok bego ! ! !