In [1]:
import sqlite3
import pandas as pd

In [2]:
"""
build connection sqlite3 to db file
"""
def build_connection(path_to_db='/content/data.db', debug=False):
    try:
        conn = sqlite3.connect(path_to_db)
        if debug is True:
            print('connection established')
        return conn
    except Error as e:
        if debug is True:
            print('connection error ', e)

In [20]:
"""
showing existing tables ("tweets")
"""
def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT * FROM tweets"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    return df

if __name__ == "__main__":
    df = show_table()
    print("success")

success

In [21]:
df.describe()

,username,text,retweet_count
count,5639,5639,5639
unique,3546,3028,1
top,riza_ajir,RT @CNNIndonesia: Cak Nun Dorong Dialog Empat ...,0
freq,29,178,5639

In [22]:
df.head()

,username,text,retweet_count
0,kembarannyaimas,RT @septian: Sekadar mengingatkan: hasil uji k...,0
1,Rian170363Az,"RT @MrsRachelIn: Vaksin corona tiba, Jokowi mi...",0
2,ayu_yude,"RT @jokowi: Semenjak dari awal, saya mengingat...",0
3,cak_iwan,RT @septian: Sekadar mengingatkan: hasil uji k...,0
4,vayakikin,RT @AndreasMarbun_: tanggung jawab pemberantas...,0

In [23]:
df.shape

(5639, 3)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5639 entries, 0 to 5638
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   username       5639 non-null   object
 1   text           5639 non-null   object
 2   retweet_count  5639 non-null   object
dtypes: object(3)
memory usage: 132.3+ KB

In [25]:
"""
build_table == fungsi membuat tabel di database
"""
def build_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()
    header_table = """CREATE TABLE IF NOT EXISTS transactions (
                        id integer,
                        insert_time timestamp,
                        tx_amount float,
                        tx_type string,
                        status string
                        );"""
    # Create table and its columns
    cursor.execute(header_table)

In [26]:
"""
insert_table() == fungsi mengisi table di database
"""
def insert_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()
                                                                                             VALUES ('"+ text +"','"+ text_clean +"')")
    sql_insertion = '''INSERT INTO transactions(id, insert_time, tx_amount, tx_type, status) VALUES (?, ?, ?, ?, ?);'''
    datas = [
             (1, '2021-01-01 11:25:00', 10, 'buy', 'open'),
             (2, '2021-01-01 11:26:00', 20, 'sell', 'open'),
             (1, '2021-01-01 11:25:40', 10, 'buy', 'closed'),
             (3, '2021-01-01 11:30:00', 30, 'sell', 'closed'),
             (2, '2021-01-01 11:30:40', 20, 'sell', 'closed')
    ]

    for data in datas:
        cursor.execute(sql_insertion, data)
    conn.commit()
    conn.close()

In [27]:
"""
showing edited tables ("transactions")
"""
def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT * FROM transactions GROUP BY id HAVING MAX(insert_time)"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    print(df.to_string(index=False))

if __name__=='__main__':
    build_table()
    insert_table()
    show_table()

 id         insert_time  tx_amount tx_type status
  1 2021-01-01 11:25:40       10.0     buy closed
  2 2021-01-01 11:30:40       20.0    sell closed
  3 2021-01-01 11:30:00       30.0    sell closed

In [28]:
"""
build_connection == fungsi membangun koneksi database,
path_to_db == alamat database, 
jika bernilai None, maka secara otomatis akan membuat file *.db
"""
def build_connection(path_to_db='/content/sales_database.db', debug=False):
    try:
        conn = sqlite3.connect(path_to_db)
        if debug is True:
            print('connection established')
        return conn
    except Error as e:
        if debug is True:
            print('connection error ', e)    

"""
build_table == fungsi membuat tabel di database
"""
def build_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()
    header_table = """CREATE TABLE IF NOT EXISTS sales_database (
                        date timestamp,
                        sales integer
                        );"""
    # Create table and its columns
    cursor.execute(header_table)

"""
insert_table() == fungsi mengisi table di database
"""
def insert_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()

    sql_insertion = '''INSERT INTO sales_database(date, sales) VALUES (?, ?);'''
    datas = [
        ('2021-01-01', 100),
        ('2021-01-02', 34),
        ('2021-01-02', 123),
        ('2021-01-02', 134),
        ('2021-01-03', 145),
        ('2021-01-03', 24),
        ('2021-01-04', 541),
        ('2021-01-04', 636),
        ('2021-01-05', 322),
        ('2021-01-06', 242),
        ('2021-01-07', 22),
        ('2021-01-08', 46)
    ]

    for data in datas:
        cursor.execute(sql_insertion, data)
    conn.commit()
    conn.close()

def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT date, SUM(sales) as "rolling sum" FROM sales_database GROUP BY date"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    print(df.to_string(index=False))

if __name__=='__main__':
    build_table()
    insert_table()
    show_table()

      date  rolling sum
2021-01-01          100
2021-01-02          291
2021-01-03          169
2021-01-04         1177
2021-01-05          322
2021-01-06          242
2021-01-07           22
2021-01-08           46