In [26]:
import sqlite3

conn = sqlite3.connect('text_processing.db')
cursor = conn.execute("SELECT * FROM data;")

for row in cursor:
  print(row)

('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')
('Ayam123', 'Ayam')
('Bujang &*&h', 'Bujangh')
('Selamat Malams@#', 'SelamatMalams')
('Bujang Gatot (#(#', 'BujangGatot')
('asdkljadkls(*&(*&', 'asdkljadkls')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')

In [27]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam123' , 'Ayam')")

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')
('Ayam123', 'Ayam')
('Bujang &*&h', 'Bujangh')
('Selamat Malams@#', 'SelamatMalams')
('Bujang Gatot (#(#', 'BujangGatot')
('asdkljadkls(*&(*&', 'asdkljadkls')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('Ayam123', 'Ayam')

In [28]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam1234' , 'Ayam')")


cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')
('Ayam123', 'Ayam')
('Bujang &*&h', 'Bujangh')
('Selamat Malams@#', 'SelamatMalams')
('Bujang Gatot (#(#', 'BujangGatot')
('asdkljadkls(*&(*&', 'asdkljadkls')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('Ayam123', 'Ayam')
('Ayam1234', 'Ayam')

In [ ]:
cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

conn.commit()

In [ ]:
##Adding Function on "Upload_csv" Route

import pandas as pd
import re

data = pd.read_csv('Coba Coba.csv')
first_column = data.iloc[:, 0]
print(first_column)

In [ ]:
for teks in first_column:
    file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
    conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
    
    print(file_clean)

In [ ]:
for teks in first_column:
    file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
    conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
    
    print(file_clean)

In [ ]:
conn = sqlite3.connect('text_processing.db')
cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

In [34]:
filename = 'coba_coba.csv'
filepath = 'Input/' + str(filename)
print("'" + filepath + "'")

'input/coba_coba.csv'

In [36]:
data = pd.read_csv('Input\Coba_Coba.csv')
        
first_column = data.iloc[:, 0]

for teks in first_column:
                file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
                conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
        
                print(file_clean)

conn.commit()
conn.close()

asdasdkj
kajsdhakjsdh