In [1]:
import sqlite3

conn = sqlite3.connect('text_processing.db')
cursor = conn.execute("SELECT * FROM data;")

for row in cursor:
  print(row)

In [2]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam123' , 'Ayam')")

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

('Ayam123', 'Ayam')

In [3]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam1234' , 'Ayam')")

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

('Ayam123', 'Ayam')
('Ayam1234', 'Ayam')