In [3]:
import sqlite3


#Membersihkan database
conn = sqlite3.connect('text_processing.db')
cursor = conn.execute("DELETE FROM data;")
cursor = conn.execute("SELECT * FROM data;")

for row in cursor:
  print(row)

In [9]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam123' , 'Ayam')")

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

('Ayam123', 'Ayam')
('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')

In [5]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam1234' , 'Ayam')")


cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

('Ayam123', 'Ayam')
('Ayam1234', 'Ayam')

In [31]:
#Cek database

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

conn.commit()

('Ayam123', 'Ayam')
('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('nahini bedlagi ni!@!#@#!@', 'nahinibedlagini')
('yangkedua beda (*(*(*', 'yangkeduabeda')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('nahini bedlagi ni!@!#@#!@', 'nahinibedlagini')
('yangkedua beda (*(*(*', 'yangkeduabeda')

In [26]:
##Adding Function on "Upload_csv" Route

import pandas as pd
import re

data = pd.read_csv('Input/data_2.csv', encoding='latin-1')
first_column = data.iloc[:, 0]
print(first_column.head())

0    - disaat semua cowok berusaha melacak perhatia...
1    RT USER: USER siapa yang telat ngasih tau elu?...
2    41. Kadang aku berfikir, kenapa aku tetap perc...
3    USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4    USER USER Kaum cebong kapir udah keliatan dong...
Name: Tweet, dtype: object

In [ ]:
for teks in first_column:
    file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
    conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
    
    print(file_clean)

In [ ]:
for teks in first_column:
    file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
    conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
    
    print(file_clean)

In [1]:
conn = sqlite3.connect('text_processing.db')
cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

NameError: name 'sqlite3' is not defined

In [37]:
filename = 'coba_coba.csv'
filepath = 'Input/' + str(filename)
print("'" + filepath + "'")

'Input/coba_coba.csv'

In [36]:
data = pd.read_csv('Input\Coba_Coba.csv')
        
first_column = data.iloc[:, 0]

for teks in first_column:
                file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
                conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
        
                print(file_clean)

conn.commit()
conn.close()

asdasdkj
kajsdhakjsdh