In [78]:
import sqlite3

#Cek database
conn = sqlite3.connect('text_processing.db')

cursor = conn.execute("SELECT * FROM data;")

for row in cursor:
  print(row)

conn.commit()

('Ayam123', 'Ayam')
('Ayam123', 'Ayam')
('Ayam123', 'Ayam')
('Ayam1234', 'Ayam')

In [83]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam123' , 'Ayam')")

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

conn.commit()

('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')

In [82]:
conn.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam1234' , 'Ayam')")

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

conn.commit()

('Ayam1234', 'Ayam')

In [91]:
#Cek database

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

conn.commit()

('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('nahini bedlagi ni!@!#@#!@', 'nahinibedlagini')
('Ayam1234', 'Ayam')

In [81]:
#Delete Database


cursor = conn.execute("DELETE FROM data;")
cursor = conn.execute("SELECT * FROM data;")

for row in cursor:
  print(row)

conn.commit()

In [26]:
##Adding Function on "Upload_csv" Route

import pandas as pd
import re

data = pd.read_csv('Input/data_2.csv', encoding='latin-1')
first_column = data.iloc[:, 0]
print(first_column.head())

0    - disaat semua cowok berusaha melacak perhatia...
1    RT USER: USER siapa yang telat ngasih tau elu?...
2    41. Kadang aku berfikir, kenapa aku tetap perc...
3    USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4    USER USER Kaum cebong kapir udah keliatan dong...
Name: Tweet, dtype: object

In [ ]:
for teks in first_column:
    file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
    conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
    
    print(file_clean)

In [ ]:
for teks in first_column:
    file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
    conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
    
    print(file_clean)

In [37]:
filename = 'coba_coba.csv'
filepath = 'Input/' + str(filename)
print("'" + filepath + "'")

'Input/coba_coba.csv'

In [88]:
data = pd.read_csv('Coba Coba.csv', encoding='latin-1')
        
first_column = data.iloc[:, 0]

for teks in first_column:
                file_clean = re.sub(r'[^a-zA-Z0-9]','',teks)
                conn.execute("INSERT INTO data(text, text_clean) VALUES ('"+ teks +"','"+ file_clean +"')")
        
                print(file_clean)

conn.commit()

asdasdkj
kajsdhakjsdh
nahinibedlagini

In [100]:
##Cara Lain connect to database without even worrying to forget closing it

conn = sqlite3.connect('text_processing.db')
c = conn.cursor()
with conn:
    c.execute("INSERT INTO data(text, text_clean) VALUES ('Ayam1234' , 'Ayam')")
    conn.commit()

In [102]:
#Cek database

cursor = conn.execute("SELECT * FROM data;")
for row in cursor:
  print(row)

conn.commit()

('Ayam1234', 'Ayam')
('Ayam123', 'Ayam')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('nahini bedlagi ni!@!#@#!@', 'nahinibedlagini')
('Ayam1234', 'Ayam')
('Ayam1234', 'Ayam')
('Ayam1234', 'Ayam')
('Ayam1234', 'Ayam')
('Ayam1234', 'Ayam')
('Ayam1234', 'Ayam')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('nahini bedlagi ni!@!#@#!@', 'nahinibedlagini')
('asdasdkj(*(*(**', 'asdasdkj')
('kajsdhakjsdh*&(*&(*&', 'kajsdhakjsdh')
('nahini bedlagi ni!@!#@#!@', 'nahinibedlagini')
('yangkedua beda (*(*(*', 'yangkeduabeda')